# Default env 
ALLOW_SIGNUP=false
PUID=1000
PGID=1000
TZ=Europe/London
BASE_URL=https://mealie.YOURDOMAIN.im

# Opena API key for supercharged mealie stuff 
OPENAI_API_KEY=YOUROPENAPIKEYHERE # Optional 

# SMTP setup for email capaabilities 
SMTP_FROM_EMAIL=email@address.com
SMTP_HOST=thesmtp.hostaddress.com
SMTP_USER=email@addres.com
SMTP_PASSWORD=xxxxxxx

# Setup SSO for mealie which uses CF but ultimatley through Google account auth 
OIDC_AUTH_ENABLED=True
OIDC_CONFIGURATION_URL=https://zorab.cloudflareaccess.com/cdn-cgi/access/sso/oidc/xxxxxxxxxxxxxxxxx/.well-known/openid-configuration
OIDC_CLIENT_SECRET=xxxxxxxxxxxxx
OIDC_CLIENT_ID=xxxxxxxxxxxxxxx