# ––––––––––––––––––––––––––––––––––––––––––––
#  Used when Caddy is the reverse proxy 
#  provider in docker compose
# ––––––––––––––––––––––––––––––––––––––––––––

{$HOST_URL} {
    reverse_proxy client:3000
    handle_path /app/* {
        reverse_proxy server:8080
            rewrite * /app{uri}
    }
}
